.JourneyCard-container {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  padding: var(--s) var(--m);
  background-color: #FFFBF5;
  border-radius: 20px;
  margin: 15px 5px;
}


.JourneyCard-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: var(--s);
  padding: var(--xs);
  font-family:"Baloo 2", cursive;
  font-weight: 700;
  font-size: 20px;
};