.JourneyCard-container {
  display: flex;
  position: relative;
  /* text-align: center; */
  justify-content: center;
  flex-direction: column;
  padding: var(--s) var(--m);
  background-color: #FFFBF5;
  border-radius: 20px;
  margin: 15px 5px;
}

.JourneyCard-item {
  display: flex;
}

.JourneyCard-title {
  display: flex;
  text-align: center;
  margin: var(--s);
  padding: var(--xs);
  font-family:"Baloo 2", cursive;
  font-weight: 700;
  font-size: 20px;
};