.JourneyCard-container {
  /* display: flex;
  position: relative; */
  /* align-items: center; */
  padding: var(--s) var(--m);
  background-color: beige;
  width: var(--l);
  height: var(--l);
}

.JourneyCard-padding {
  /* display: flex;
  position: relative; */
  top: var(--s);
  align-items: center;
  padding: var(--s) var(--m);
  background-color: var(--space_padding);
  border-radius: 10px;
}

.JourneyCard-display {
  /* display: flex;
  justify-content: space-between; */
  /* align-items: center; */
  padding: var(--s) var(--m);
  background-color: var(--space);
  border-radius: 10px;
}

.JourneyCard-title {
  margin: var(--s);
  padding: var(--xs);
  font-family:"Baloo 2", cursive;
  font-weight: 700;
  font-size: 20px;
};